[submodule "utilities"]
	path = utilities
	url = https://github.com/OpenCMISS-Utils/utilities.git
[submodule "dependencies"]
	path = dependencies
	url = https://github.com/OpenCMISS-Dependencies/dependencies.git
[submodule "iron"]
	path = iron
	url = git@github.com:rondiplomatico/cm.git
